.chart {
  width: min(100%, 800px);
  transform: none!important;
}

.content_block-image {
  width: min(100%, 600px);
}

.content_block-text {
  width: min(100%, 600px);
}

.reverse{
  display: flex!important;
  flex-direction: row-reverse!important;
}


