{% extends "base.html" %}
{% load static %}
{% load components %}

{% block title %}{{ object.title }}{% endblock title %}


{% block content %}
<section class="p-4">
  <input type="hidden" id="post-id" value="{{ object.id }}" />
  <article>
    <div class="blog-post p-5">
      <h1>{{ object.title }}</h1>
      <hr />
      <p class="blog-post-meta text-secondary"><time>{{ post.created|date:"d.m.Y" }} by {{ post.author }}</time></p>
      <p>{{ object.body|safe }}</p>
      {% like_btn %}
    </div>
  </article>
  {% include 'components/comments.html' %}
  <!-- render last_articles here -->

</section>

{% endblock content%}