{% load static %}
<link rel="stylesheet" href="{% static 'article/index.css' %}">


<section class="scroll-container container mt-4 p-5">
    <article class=" content_block d-flex flex-column flex-lg-row justify-content-between align-items-center" >
        <div class="content_block-text">
            <h3>Lorem ipsum dolor</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi officia voluptate nulla dicta sint
                corporis animi dolorum? Deserunt modi repudiandae, accusamus repellendus, illo, eaque facere accusantium
                blanditiis nemo at tempore!
            </p>
        </div>
        <div class="content_column-animation content_block-image" >
            <figure>
                <img  src="{% static 'admin/img/svg/column_type_1.svg' %}" alt="Column">
            </figure>
        </div>
    </article>
    <article  class=" reverse content_block d-flex flex-column flex-lg-row justify-content-between align-items-center">
        <div class="content_block-text">
            <h3>Lorem ipsum dolor</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quos sunt iure assumenda reprehenderit et?
                Eaque ex accusantium nisi nulla aut animi harum ad deleniti, possimus numquam laborum, corporis
                consectetur.</p>
        </div>
        <div class="content_column-animation content_block-image" >
            <figure>
                <img src="{% static 'admin/img/svg/column_type_2.svg' %}" alt="Column">
            </figure>
            <!-- column_type_2.svg -->
        </div>
    </article>
    <article class="content_block d-flex flex-column flex-lg-row justify-content-between align-items-center">
        <div class="content_block-text">
            <h3>Lorem ipsum dolor</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quos sunt iure assumenda reprehenderit et?
                Eaque ex accusantium nisi nulla aut animi harum ad deleniti, possimus numquam laborum, corporis
                consectetur.</p>
        </div>
        <div class="content_column-animation content_block-image">
            <figure>
                <img src="{% static 'admin/img/svg/column_type_3.svg' %}" alt="Column">
            </figure>
            <!-- column_type_3.svg -->
        </div>
    </article>
    <article class="reverse content_block d-flex flex-column flex-lg-row justify-content-between align-items-center">
        <div class="content_block-text">
            <h3>Lorem ipsum dolor</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quos sunt iure assumenda reprehenderit et?
                Eaque ex accusantium nisi nulla aut animi harum ad deleniti, possimus numquam laborum, corporis
                consectetur.</p>
        </div>
        <div class="content_column-animation content_block-image">
            <figure>
                <img src="{% static 'admin/img/svg/column_type_4.svg' %}" alt="Column">
            </figure>
            <!-- column_type_4.svg -->
        </div>
    </article>
</section>



<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
